{% extends "layout.html" %}

{% block pageTitle %}
  Devices: Get support guides for laptops, tablets and 4G wireless routers
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get laptops and tablets"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How and when to order laptops and tablets during coronavirus (COVID-19)
      </h1>
  
      <p class="govuk-body">
        Prepare to <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/start">order laptops and tablets</a>
        for disadvantaged children in certain year groups when schools and colleges are affected by disruption to face-to-face
        education due to coronavirus (COVID-19).
      </p>
  
      <p class="govuk-body">
        Find out <a href="https://www.gov.uk/guidance/get-laptops-and-tablets-for-children-who-cannot-attend-school-due-to-coronavirus-covid-19#who-can-get-laptops-and-tablets" class="govuk-link">who can get laptops and tablets</a>. We’re also providing <a href="https://get-help-with-tech.education.gov.uk/internet-access" class="govuk-link">internet connections</a> where they're needed.
      </p>
      
      <p class="govuk-body">
       <a class="govuk-link" href="https://ghwt-get-support-prototype.herokuapp.com/getsupport">Contact our support team</a> for help with any of the steps below. 
      </p>
  
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <!-- <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active"> -->
        <ol class="app-step-nav__steps">
          <!-- <li class="app-step-nav__step" id="decide-who-will-place-orders" > -->
            <!-- <div class="app-step-nav__header js-toggle-panel" data-position="1"> -->
          <li class="app-step-nav__step js-step" id="decide-who-will-place-orders" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>
  
                <span class="js-step-title">
                  Decide who will place orders
                </span>
              </h2>
            </div>
  
            <!-- <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-decide-who-will-place-orders-1"> -->
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-decide-who-will-place-orders-1">
              <p class="app-step-nav__paragraph">
                Representatives from local authorities and academy trusts have been contacted by email. They’ve been asked to use the <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/start">Get help with technology service</a> to tell us if they want to:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>let schools place their own orders</li>
                <li>place orders centrally on behalf of schools</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                They can adapt this choice individually for each school. Additional users from within a local authority or academy trust can be invited to provide this information through the Get help with technology service.
              </p>
              <p class="app-step-nav__paragraph">This is a different process than they may have followed to order devices in the 2020 summer term. This step must be completed before anyone can order.</p>
              
            </div>
  
          </li>
  
          <li class="app-step-nav__step js-step" id="nominate-people-to-manage-orders" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>
  
                <span class="js-step-title">
                  Nominate people to manage orders
                </span>
              </h2>
            </div>
  
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-nominate-people-to-manage-orders-2">
              <p class="app-step-nav__paragraph">
                If local authorities and academy trusts choose to let schools place their own orders,
                they can use the <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/start">Get help with technology service</a> to nominate the headteacher or give the following information for an alternative contact at each school:
              </p>
  
              <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>email address</li>
                <li>phone number</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                These contacts will have the option to invite up to 2 other people from their school to manage orders.
              </p>
              <p class="app-step-nav__paragraph">
                We’ll ask if each school will require Chromebooks. If they do,
                we'll ask for some technical information so they can be set up correctly when orders are placed.
              </p>
              <p class="app-step-nav__paragraph">See the <a class="govuk-link" href="#step-panel-choosing-devices-4">‘Choosing devices’</a> section below for information on what device types are available and the details we’ll ask for when ordering.</p>
            </div>
          </li>
  
          <li class="app-step-nav__step js-step" id="prepare-to-place-an-order" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>
  
                <span class="js-step-title">
                  Prepare to place an order
                </span>
              </h2>
            </div>
  
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-to-place-an-order-3">
              <p class="app-step-nav__paragraph">
                While devices may not be available to order immediately, we suggest all nominated contacts familiarise themselves with this process to prevent delays when ordering   does become available.
              </p>
              <p class="app-step-nav__paragraph">
                When someone is nominated as responsible for placing orders, they’ll receive an email inviting
                them to the <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/start">Get help with technology service</a> where they can:
              </p>
  
              <ul class="govuk-list govuk-list--bullet">
                <li>amend existing contact information</li>
                <li>add additional contacts to place orders</li>
                <li>find out a school’s device allocation</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                The device allocation is the number of laptops and tablets we estimate are needed based on:
              </p>
  
              <ul class="govuk-list govuk-list--bullet">
                <li>the number of children in years 3 to 11</li>
                <li>free school meals data</li>
                <li>an estimate of the number of devices a school already has</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                This allocation can be used as part of preparing to deliver remote education. However, the exact
                number and type of devices available will be confirmed at the time of ordering based on stock
                availability and the extent of coronavirus restrictions.
              </p>
  
              <p class="app-step-nav__paragraph">
                <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-allocations">Find out about allocations</a> and what information is required if you would like to request additional devices for a school.
              </p>
  
              <p class="app-step-nav__paragraph">
                Local authorities and trusts managing the process on behalf of schools should contact them with details about the offer.
              </p>
            </div>
          </li>
  
          <li class="app-step-nav__step js-step" id="choosing-devices" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>
  
              <span class="js-step-title">
                  Choosing devices and providing technical information
                </span>
              </h2>
            </div>
  
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-choosing-devices-4">
              <p class="app-step-nav__paragraph">
                The device types (depending on availability) will be:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                Microsoft Windows laptops
                </li>
                <li>
                  Microsoft Windows tablets (with or without keyboards)
                </li>
                <li>
                Google Chromebooks
                </li>
                <li>
                Apple iPads
                </li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                View the <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-specification">full specifications</a> of these devices.
              </p>
              
              <h3 class="govuk-heading-m">Microsoft Windows laptops and tablets</h3>
  
              <p class="app-step-nav__paragraph">
                When ordering Microsoft devices, a selection can be made between:
              </p>
  
              <ul class="govuk-list govuk-list--number">
                <li>Not having DfE settings installed. These ‘Standard’ devices should be configured with preferred safeguarding measures and brought into an existing device management 
                  framework by schools at their own cost before they are lent to children and young people.</li>
                <li>Having DfE settings installed. These ‘DfE Restricted’ devices are not configurable, with limitations on downloading any software and changing the strict content 
                  filters that may prevent some browsers and conferencing tools from functioning. <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-microsoft-windows-laptops-and-tablets#preparing-laptops-and-tablets-ordered-with-dfe-settings-installed">Find out when these restrictions will expire</a> 
                  and when schools will need to apply their own security settings in our guidance.</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                Read more information about <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-microsoft-windows-laptops-and-tablets">preparing Microsoft devices</a>.
              </p>
              
              <h3 class="govuk-heading-m">Google Chromebooks</h3>
  
              <p class="app-step-nav__paragraph">
                When ordering Google Chromebooks, the following information needs to be added to the
                <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/start">Get help with technology service</a>
                before orders can be placed:
              </p>
  
              <ul class="govuk-list govuk-list--bullet">
                <li>a school’s Google domain for G Suite for Education</li>
                <li>a recovery email address, which must be on a different domain to the school domain</li>
              </ul>
              
              <p class="app-step-nav__paragraph">
                If the person managing the ordering process is not sure how to find this information, they should ask their IT support for help.
              </p>
                
              <p class="app-step-nav__paragraph">
                If an education platform is not currently in use, schools, local authorities and academy trusts can <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/digital-platforms">apply for DfE-funded support to get access to either G Suite for Education or Office 365 Education.</a>
               </p>
              
              <p class="app-step-nav__paragraph">
                Read more information about <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-chromebooks">preparing Google Chromebooks</a>.
              </p>
              
              <h3 class="govuk-heading-m">Apple iPads</h3>
  
              <p class="app-step-nav__paragraph">
                When ordering Apple devices, we’ll need an Apple School Manager (ASM) Organisation ID. We recommend knowing this ID in advance to avoid any delay in ordering.
              </p>
  
              <p class="app-step-nav__paragraph">
                This is a 7 to 8 digit number that can be found by following these steps:
              </p>
              
              <ol class="govuk-list govuk-list--number">
                <li>Visit https://school.apple.com to sign in to Apple School Manager</li>
                <li>Click on ‘Settings’ in the bottom left-hand corner</li>
                <li>Click on ‘Enrolment Information’ in the ‘Institution Settings’ section. The Organisation ID (also known as an Apple School Manager ID) will be in the right-hand pane.</li>
              </ol>
 
            </div>
          </li>
  
          <li class="app-step-nav__step js-step" id="place-an-order" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle  app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>
  
                <span class="js-step-title">
                  Placing an order
                </span>
              </h2>
            </div>
  
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-place-an-order-5">
              <p class="app-step-nav__paragraph">
                If face-to-face education is disrupted due to coronavirus, schools and colleges must make us aware via the <a class="govuk-link" href="https://form.education.gov.uk/service/educational-setting-status">DfE educational settings status form</a> (ESSF) which is monitored daily. This form tells us the information we need to make ordering available for each school or college.
              </p>
              <p class="app-step-nav__paragraph">
                Ordering will only be opened when a school or college reports that pupils in years 3 to 11 are unable to attend because of these circumstances:
              </p>
              
              <ul class="govuk-list govuk-list--bullet">
                <li>a primary school is only open to vulnerable children and the children of critical workers (<a class="govuk-link" href="https://www.gov.uk/government/publications/containing-and-managing-local-coronavirus-covid-19-outbreaks/covid-19-contain-framework-a-guide-for-local-decision-makers#tier-4">tier 4</a>) 
                </li>
                <li>a secondary school or college is only open to vulnerable children and the children of critical workers (<a class="govuk-link" href="https://www.gov.uk/government/publications/containing-and-managing-local-coronavirus-covid-19-outbreaks/covid-19-contain-framework-a-guide-for-local-decision-makers#tier-3">tier 3</a> or <a class="govuk-link" href="https://www.gov.uk/government/publications/containing-and-managing-local-coronavirus-covid-19-outbreaks/covid-19-contain-framework-a-guide-for-local-decision-makers#tier-4">4</a>)
                </li>
                <li>15 or more children in years 3 to 11 are self-isolating having each been exposed to a confirmed case outside the school community
                </li>
                <li>a local health protection team has advised a group of children in years 3 to 11 (such as a ‘bubble’ or year group) not to attend school
                </li>
                <li>a school or college is fully open, but supporting a disadvantaged child living in another area who is unable to attend due to local travel restrictions</li>
              </ul>
              
              <p class="app-step-nav__paragraph">
              If a school or college reports any of these circumstances, we’ll then email the person nominated to order for them as soon as possible to let them know when device orders can be placed. We aim to do this within 24 hours of the report, however it may take longer in some cases. 
              </p>
              
              <p class="app-step-nav__paragraph">
                We're unable to accept any orders until this invitation has been sent and will reject any orders placed before it has been received.
              </p>
              
              <p class="app-step-nav__paragraph">
              We list the <a class="govuk-link" href="https://www.gov.uk/guidance/get-laptops-and-tablets-for-children-who-cannot-attend-school-due-to-coronavirus-covid-19#when-laptops-and-tablets-cannot-be-ordered">circumstances in which schools and colleges would not be eligible to order</a> on GOV.UK.  
              
                <p class="app-step-nav__paragraph">
                  As the form only captures certain circumstances, devices can also be requested at any time by emailing COVID.TECHNOLOGY@education.gov.uk when a school or college:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    is supporting a disadvantaged child in any year group who has been advised by a medical professional to shield because they (or someone they live with) are clinically extremely vulnerable (rather than self-isolating for any other reason)
                  </li>
                  <li>is supporting a disadvantaged child living in another area who is unable to attend due to local travel restrictions</li>
                </ul>
  
              <p class="app-step-nav__paragraph">
                Please do not email any personally identifiable information about pupils that we do not need to process your support query. If we receive a request that contains such information, we’ll ask for it to be resent.
              </p>
  
              <p class="app-step-nav__paragraph">
                The school or college's full allocation can be ordered in one go or made in multiple orders.
              </p>
  
              <p class="app-step-nav__paragraph">
                Once a device selection has been made, the person placing the order will be asked to confirm delivery and contact details during the checkout process.
              </p>
  
            </div>
  
          </li>
  
          <li class="app-step-nav__step js-step js-step" id="receive-and-distribute-laptops-and-tablets" >
            <div class="app-step-nav__header js-toggle-panel" data-position="6">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 6
                    </span>
                  </span>
                </span>
  
                <span class="js-step-title">
                  When devices will be delivered and how to distribute them
                </span>
              </h2>
            </div>
  
            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-receive-and-distribute-laptops-and-tablets-6">
              <p class="app-step-nav__paragraph">
                Due to increased levels of demand, devices will be delivered to schools within 5 working days of an order being confirmed, subject to stock availability.
              </p>
  
              <p class="app-step-nav__paragraph">
                All devices will be fully owned by the schools or academy trusts who receive them. It will be the
                responsibility of the school to lend the devices to those who need them.
              </p>
  
              <p class="app-step-nav__paragraph">
                After receiving devices and preparing them for use by children, schools can:
              </p>
  
              <ul class="govuk-list govuk-list--bullet">
                <li>arrange for them to be collected by families from school, or</li>
                <li>organise for them to be delivered to children’s homes</li>
              </ul>
  
              <p class="app-step-nav__paragraph">
                All distribution and return of loan devices should be done in accordance with the <a href="https://www.gov.uk/find-coronavirus-local-restrictions" class="govuk-link"> social distancing guidelines relevant to your local area</a>.
              </p>
  
              <p class="app-step-nav__paragraph">
               <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/support-and-maintenance">Our support guidance</a> provides information on how to request admin passwords for all DfE Restricted devices, report device faults and arrange a repair or replacement for laptops and tablets.
              </p>
  
            </div>
  
          </li>
  
        </ol>
      </div>
    </div>
  </div>
{% endblock %}
