{% extends "layout.html" %}

{% block pageTitle %}
  Devices: Get support guides for laptops, tablets and 4G wireless routers
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support guides for laptops, tablets and 4G wireless routers",
        href: "/devices"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Get support guides for laptops, tablets and 4G wireless routers
        </h1>
  
        <h2 class="govuk-heading-l">Owning, securing and lending devices to children and young people</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/safeguarding-for-device-users">Safeguarding for device users</a></h3>

<p class="govuk-body">Find out when and how you’ll need to secure the devices you lend to children and young people.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-microsoft-windows-laptops-and-tablets#reconfigure-your-devices ">Resetting Microsoft Windows laptops and tablets to remove DfE settings</a></h3>

<p class="govuk-body">How to find BIOS and local admin passwords to reset devices and add your own software and settings.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/safeguarding-for-device-users#updating-your-microsoft-mobile-device-management">Keeping Microsoft Windows devices secure when DfE settings stop working on 30 September 2021</a></h3>

<p class="govuk-body">Information on how to reset and secure devices once the DfE mobile device management (MDM) licence expires.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-4g-wireless-routers#contract-length">Check your 4G wireless router contract length</a></h3>

<p class="govuk-body">Get the latest information on when contracts and data will end.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-distribution-and-ownership">Keeping records of the devices you lend</a></h3>

<p class="govuk-body">Guidance on insuring, tagging and owning the laptops, tablets and 4G wireless routers you received from the programme.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-distribution-and-ownership#distributing-devices">Redistributing devices you've lent to children who no longer need them</a></h3>

<p class="govuk-body">How devices can be safely returned and lent to the children and young people most in need.</p>

<h2 class="govuk-heading-l">Getting help with your device or platform</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-specification">Requesting a change to your device order</a></h3>

<p class="govuk-body">Find out your options for changing your order or asking for different types of device.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/support-and-maintenance#support-for-local-authorities-academy-trusts-and-schools">Reporting missing or incorrect order items</a></h3>

<p class="govuk-body">How to let us know if there’s a problem with your order delivery.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/support-and-maintenance#replacing-a-faulty-device">Reporting a faulty device</a></h3>

<p class="govuk-body">How to ask for a replacement, or find out about warranty information.</p>

<h2 class="govuk-heading-l">Getting laptops and tablets</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://ghwt-get-support-prototype.herokuapp.com/devices/how-to-order#place-an-order">How and when orders can be placed</a></h3>

<p class="govuk-body">Find out when devices can be ordered, and how to make us aware if your school experiences disruption to face-to-face education caused by coronavirus (COVID-19)</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://ghwt-get-support-prototype.herokuapp.com/devices/how-to-order#place-an-order">What happens the Educational settings status form is completed</a></h3>

<p class="govuk-body">How the ESSF lets us know about the needs of schools and colleges each day.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-specification">How to choose the right devices for your school or college</a></h3>

<p class="govuk-body">Find out about the types of device and specifications available so you can make the right choice for your needs.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-microsoft-windows-laptops-and-tablets">How to order and set up Microsoft Windows laptops or tablets</a></h3>

<p class="govuk-body">This includes the different settings you can choose from, and how to install your own settings to keep devices secure for children and young people.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-chromebooks">How to order and set up Google Chromebooks</a></h3>

<p class="govuk-body">How to enrol Google Chromebooks on your domain, and install Cisco Umbrella content filtering.</p>
      
<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices">How to order and set up Apple iPads</a></h3>

<p class="govuk-body">How to find your Apple School Manager (ASM) Organisation ID and prepare devices.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://ghwt-get-support-prototype.herokuapp.com/devices/how-to-order#receive-and-distribute-laptops-and-tablets">When orders will be delivered</a></h3>

<p class="govuk-body">Find out when you’ll receive devices after your order has been placed.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://ghwt-get-support-prototype.herokuapp.com/devices/how-to-order#receive-and-distribute-laptops-and-tablets">How to track your order</a></h3>

<p class="govuk-body">How to keep track of processing and delivery.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/device-allocations">Allocations, and how to contact us about them</a></h3>

<p class="govuk-body">Find out how we estimated device requirements for each school and college, and how to let us know if your need increases.</p>

<h2 class="govuk-heading-l">Getting internet access (4G wireless routers)</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/internet-access">How to request internet access for children and young people</a></h3>

<p class="govuk-body">Information about 4G wireless routers and increasing data allowances on mobile devices.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-4g-wireless-routers">How to set up a 4G wireless router</a></h3>

<p class="govuk-body">Find out how to prepare and manage the devices you receive.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-4g-wireless-routers#data-cap">Data on 4G wireless routers</a></h3>

<p class="govuk-body">Find out how much data is available each month, and when it renews.</p>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/devices/preparing-4g-wireless-routers#contract-length">When 4G wireless router contracts end</a></h3>

<p class="govuk-body">Information on when contracts will expire.</p>

<h2 class="govuk-heading-l">Other support for schools</h2>

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/digital-platforms">Get funding and support to set up a digital education platform.</a></h3>

<p class="govuk-body">Choose from G Suite for Education or Office 365 Education.</p> 

<h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/EdTech-demonstrator-programme">Get free training and support to set up and use technology effectively.</a></h3>
  
    </div>
  </div>
{% endblock %}
