{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/contact" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Do you know who is reponsible for ordering and supporting your IT needs?
              </h1>
            </legend>

            <div
              id="hint-e496a843"
              class="govuk-hint govuk-!-margin-bottom-3"
            ></div>
            
            <div class="govuk-form-group">

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    type="radio"
                    name="describe"
                    id="describe-0"
                    value="Yes"
                    class="govuk-radios__input"
                    data-aria-controls="conditional-describe-0"
                    {{ checked("describe", "The local authority or academy trust") }}
                  />
  
                  <label
                    for="describe-0"
                    class="govuk-label govuk-radios__label"
                    >The local authority or academy trust</label
                  >
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-describe-0">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="describe-custom">
                      What is the Local Authority name?
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="describe-custom" name="describe-custom" type="text">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input
                    type="radio"
                    name="describe"
                    id="describe-1"
                    value="Yes"
                    class="govuk-radios__input"
                    {{ checked("describe", "My school, college or academy") }}
                  />
  
                  <label
                    for="describe-1"
                    class="govuk-label govuk-radios__label"
                    >My school, college or academy</label
                  >
                </div>

                <div class="govuk-radios__item">
                  <input
                    type="radio"
                    name="describe"
                    id="describe-2"
                    value="Yes"
                    class="govuk-radios__input"
                    {{ checked("describe", "My school, college or academy") }}
                  />
  
                  <label
                    for="describe-2"
                    class="govuk-label govuk-radios__label"
                    >I'm not sure</label
                  >
                </div>
              </div>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next step
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/describe">Back</a>
    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-top-7">
        How can I find out?
      </h2>
      <p>
      These are details of how to find out
    </p>
    </div>

  </div>
{% endblock %}
