{% extends "layout.html" %}

{% block pageTitle %}
Get Support: Which college do you work for?
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support",
        href: "/getsupport"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/getsupport/contact" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Which college do you work for?
              </h1>
            </legend>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="college-name">
                College name
              </label>
              <!-- <span id="college-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your full name
              </span> -->
              <input class="govuk-input govuk-!-width-three-quarters" id="college-name" name="college-name" type="text" spellcheck="false" autocomplete="false" value="{{ data['college-name'] }}" {{ data['college-name'] }}>
              <!-- <input class="govuk-input govuk-input--error" id="college-name" name="college-name" type="text" spellcheck="false" aria-describedby="college-name-error" autocomplete="name"></div> -->
            </div>

            <div class="govuk-form-group">
             
              <label class="govuk-label govuk-!-font-weight-bold" for="college-ukprn">
                What&rsquo;s your college&rsquo;s UKPRN?
              </label>

              <div id="urn-hint" class="govuk-hint">
              This number helps us to locate your college
              </div>
              
            <!-- <span id="urn-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter the correct format (URN is a number)
            </span> -->

            {% if checked("describe", "I work for a college") %}
            <input class="govuk-input govuk-input--width-10" id="college-ukprn" name="college-ukprn" type="text" spellcheck="false" aria-describedby="ukprm-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['college-ukprn'] }}" {{ data['college-ukprn'] }}>
            {% endif %}

          </div>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/getsupport/describe">Back</a>
   
    </div>

    <div class="govuk-grid-column-one-third">
      <aside role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          How can I find my college&rsquo;s UKPRN?
        </h2>
        <p>
          Your UKPRN is your college&rsquo;s 8-digit UK Provider Reference number that always starts with a 1. You can find this by searching for your college on the <a href="https://get-information-schools.service.gov.uk/">Get information about schools</a> website.
       </p>
    </aside>
    </div>

  </div>
{% endblock %}





