{% extends "layout.html" %}

{% block pageTitle %}
Get Support: Send request
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support",
        href: "/getsupport"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"
        >Get support</span
      >
        <!-- <h1 class="govuk-heading-l">Send your support request</h1> -->

        <h1 class="govuk-heading-l">Check your answers before sending your support request</h1>

        <h2 class="govuk-heading-m">About you</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Which of these best describes you?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if checked("describe", "I'm none of the above") %}
                {{ data['describe-custom'] }}
              {% else %}
                {{ data['describe'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/getsupport/describe">
                Change<span class="govuk-visually-hidden"> answer to "Which of these best describes you?"</span>
              </a>
            </dd>
          </div>
          
          {% if not checked("describe", "I'm none of the above") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if checked("describe", "I work for a local authority") %}
                Local authority name
              {% endif %}
              {% if checked("describe", "I work for an academy trust") %}
                Multi-academy trust name
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
                School or single-academy name 
                {% if data['school-urn'] %}<br />
                  URN
                {% endif %}
              {% endif %}                  
              {% if checked("describe", "I work for a college") %}
                College name 
                {% if data['college-ukprn'] %}<br />
                  UKPRN
                {% endif %}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if checked("describe", "I work for a local authority") %}
                {{ data['la-name'] }}
              {% endif %}  
              {% if checked("describe", "I work for an academy trust") %}
                {{ data['academy-name'] }}
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
                {{ data['school-name'] }}<br />
                {{ data['school-urn'] }}
              {% endif %}  
              {% if checked("describe", "I work for a college") %}
                {{ data['college-name'] }}<br />
                {{ data['college-ukprn'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if checked("describe", "I work for a local authority") %}
              <a class="govuk-link" href="/getsupport/describe/local-authority">
                Change<span class="govuk-visually-hidden"> local authority details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for an academy trust") %}
              <a class="govuk-link" href="/getsupport/describe/academy-trust">
                Change<span class="govuk-visually-hidden"> academy trust details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
              <a class="govuk-link" href="/getsupport/describe/school">
                Change<span class="govuk-visually-hidden"> school details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for a college") %}
              <a class="govuk-link" href="/getsupport/describe/college">
                Change<span class="govuk-visually-hidden"> college details</span>
              </a>
              {% endif %}
            </dd>
          </div>
          {% endif %}
        </dl>

        <h2 class="govuk-heading-m">Contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['full-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/getsupport/contact">
                Change<span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
          </div>  

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['email'] }}</p>
              <p class="govuk-body">{{ data['telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/getsupport/contact">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
        
        <h2 class="govuk-heading-m">What do you want support with?</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {% if checked("support", "Laptops and tablets") %}
                <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Latops and tablets</p>
                {% endif %}

                {% if checked("support", "4G wireless routers and internet access") %}
                <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">4G wireless routers and internet access</p>
                {% endif %}

                {% if checked("support", "Digital education platforms") %}
                <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Digital education platforms</p>
                {% endif %}

                {% if checked("support", "Technology training and support") %}
                <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Technology training and support</p>
                {% endif %} 
                
                {% if checked("support", "Something else") %}
                <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">{{ data['support-custom'] }}</p>
                {% endif %}  
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  {{ data['support-user-entry'] }}
                </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/getsupport/support-details">
                Change<span class="govuk-visually-hidden"> Support query details</span>
                </a>
              </dd>
            </div>
        </dl>

        <!-- OK to send -->
        <form action="/getsupport/submitted" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </form>

        <a class="govuk-back-link" href="/getsupport/support-details">Back</a>

      </div>
    </div>
  {% endblock %}

