{% extends "layout.html" %}

{% block pageTitle %}
  Get Support: Please provide your contact details
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support",
        href: "/getsupport"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/getsupport/support-needs" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Please provide your contact details
              </h1>
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Your full name
              </label>
              <!-- <span id="full-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your full name
              </span> -->
              <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['full-name'] }}" {{ data['full-name'] }}>
              <!-- <input class="govuk-input govuk-input--error" id="full-name" name="full-name" type="text" spellcheck="false" aria-describedby="full-name-error" autocomplete="name"></div> -->
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Your email address
              </label>
              <div id="email-hint" class="govuk-hint">
                We&rsquo;ll use this to reply to your query. Please use the email address linked to your school, college, trust, local authority or organisation.
              </div>
              <!-- <span id="email-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
              </span> -->
              <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-required="true" aria-describedby="email-hint email-error" autocomplete="email" value="{{ data['email'] }}" {{ data['email'] }}>
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="telephone-number">
                Your phone number
              </label>
              <div id="phone-hint" class="govuk-hint">
                You do not need to provide this, but it will help our support team if they need to call you to resolve your query.
              </div>
              <!-- <span id="phone-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
              </span> -->
              <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" aria-required="true" aria-describedby="phone-hint phone-error" type="tel" autocomplete="tel" value="{{ data['telephone-number'] }}" {{ data['telephone-number'] }}>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next
        </button>
      </div>
    </form>
    {% if checked("describe", "I'm none of the above") %}
     <a class="govuk-back-link" href="/getsupport/describe">Back</a>
    {% elseif checked("describe", "I work for a local authority") %}
     <a class="govuk-back-link" href="/getsupport/describe/local-authority">Back</a>
    {% elseif checked("describe", "I work for an academy trust") %}
     <a class="govuk-back-link" href="/getsupport/describe/academy-trust">Back</a>
    {% elseif checked("describe", "I work for a school") %}
     <a class="govuk-back-link" href="/getsupport/describe/school">Back</a>
    {% elseif checked("describe", "I work for a college") %}
     <a class="govuk-back-link" href="/getsupport/describe/college">Back</a>
    {% else %}
    <a class="govuk-back-link" href="/getsupport">Back</a>
    {% endif %}
    </div>
  </div>
{% endblock %}
