{% extends "layout.html" %}

{% block pageTitle %}
  Get Support: Which of these best describes you?
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support",
        href: "/getsupport"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<!--https://design-system.service.gov.uk/patterns/check-answers/-->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/getsupport/contact" method="post">

          <div
            class="govuk-!-margin-bottom-6"
            id="current-question"
          >
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend
                  class="govuk-fieldset__legend govuk-fieldset__legend--l"
                >
                  <span class="govuk-caption-l"
                    >Get support</span
                  >
                  <h1 class="govuk-fieldset__heading">
                    Which of these best describes you?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-0"
                      value="I work for a school~/getsupport/describe/school.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a school") }}
                    />

                    <label
                      for="describe-0"
                      class="govuk-label govuk-radios__label"
                      >I work for a school or single-academy trust</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-1"
                      value="I work for an academy trust~/getsupport/describe/academy-trust.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for an academy trust") }}
                    />

                    <label
                      for="describe-1"
                      class="govuk-label govuk-radios__label"
                      >I work for a multi-academy trust</label
                    >
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-2"
                      value="I work for a local authority~/getsupport/describe/local-authority-with-autocomplete.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a local authority") }}
                    />

                    <label
                      for="describe-2"
                      class="govuk-label govuk-radios__label"
                      >I work for a local authority</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-3"
                      value="I work for a college~/getsupport/describe/college.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a college") }}
                    />

                    <label
                      for="describe-3"
                      class="govuk-label govuk-radios__label"
                      >I work for a college</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-4"
                      value="I'm a parent, guardian, pupil or care leaver~/getsupport/parent-guardian-pupil-care-leaver.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I'm a parent, guardian, pupil or care leaver") }}
                    />

                    <label
                      for="describe-4"
                      class="govuk-label govuk-radios__label"
                      >I&rsquo;m a parent, guardian, pupil or care leaver</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-5"
                      value="I'm none of the above"
                      class="govuk-radios__input"
                      data-aria-controls="conditional-describe-5"
                      {{ checked("describe", "I'm none of the above") }}
                    />

                    <label
                      for="describe-5"
                      class="govuk-label govuk-radios__label"
                      >I&rsquo;m none of the above</label
                    >
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-describe-5">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="describe-custom">
                        Please provide details
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="describe-custom" type="text" name="describe-custom" {{ data['describe-custom'] }}>
                    </div>
                  </div>
                  
                </div><!--radio-group-->
              </fieldset>
            </div><!--govuk-form-group-->
           
            <button
              data-module="govuk-button"
              class="govuk-button"
            >
              Next
            </button>
          </div>
        </form>

        <a class="govuk-back-link" href="/getsupport">Back</a>

      </div>
    </div>
  {% endblock %}

