{% extends "layout.html" %}

{% block pageTitle %}
  Get Support: Our support team have received your request
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Get support",
        href: "/getsupport"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Thank you for completing this form
      </h1>
      <p class="govuk-body">Our support team have received your request. We aim to respond within 3 working days.</p> 

      <p class="govuk-body govuk-!-margin-top-3"><a href="https://get-help-with-tech.education.gov.uk/">https://get-help-with-tech.education.gov.uk</a>
      <p class="govuk-body">Information for local authorities, academy trusts and schools about the devices, internet access and support available to provide remote education and access to children’s social care during coronavirus (COVID-19).</p>

      <section class="govuk-section">
        <nav role="navigation" aria-labelledby="support-topics">
          <h2 class="govuk-heading-m" id="support-topics">For laptops and tablets</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    How and when to order laptops and tablets 
                  </a>
                </li>
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    About device allocations
                  </a>
                </li>
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Device options and specifications
                  </a>
                </li>
              </ul>

          <h2 class="govuk-heading-m" id="support-topics">4G wireless routers and internet access</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  Get internet access
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  About 4G wireless routers
                </a>
              </li>
            </ul>
    
          <h2 class="govuk-heading-m" id="support-topics">Digital education platforms</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  Get funding and support to set up a digital education platform
                </a>
              </li>
            </ul>
    
          <h2 class="govuk-heading-m" id="support-topics">Technology training and support</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  Get free training and support to set up and use technology effectively
                </a>
              </li>
            </ul>
          
          <h2 class="govuk-heading-m" id="support-topics">Something else</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  Find out more about the Get help with technology programme on GOV.UK
                </a>
              </li>
            </ul>
        </nav>
    </section>

    </div>

  </div>
{% endblock %}
