{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
        {
            text: "Home",
            href: "/"
        },
        {
            text: "Get support",
            href: "/start"
        }
        ]
    }) }}
{% endblock %}

{% block content %}
  {% block banner %}{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block page %}{% endblock %}

      <!-- {{ govukButton({
        text: buttonText if buttonText else 'Continue',
        href: paths.next,
        classes: 'govuk-!-margin-top-6'
      }) }} -->

      {% block pageNavigation %}
        {{ govukBackLink({
            href: paths.back
        }) }}
{% endblock %}
    </div>
  </div>
{% endblock %}


