{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/start"
        >Get support</a
      >
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before sending your support request</h1>

        <!-- What best describes you-->
        <h2 class="govuk-heading-m">About you</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Which of these best describes you?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if checked("describe", "I'm none of the above") %}
                {{ data['describe-custom'] }}
              {% else %}
                {{ data['describe'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/describe">
                Change<span class="govuk-visually-hidden"> answer to "Which of these best describes you?"</span>
              </a>
            </dd>
          </div>
          {% if not checked("describe", "I'm none of the above") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if checked("describe", "I work for a local authority") %}
                Local authority name
              {% endif %}
              {% if checked("describe", "I work for an academy trust") %}
                Academy name
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
                School name 
                {% if data['school-urn'] %}<br />
                  URN
                {% endif %}
              {% endif %}                  
              {% if checked("describe", "I work for a college") %}
                College name 
                {% if data['college-ukprn'] %}<br />
                  UKPRN
                {% endif %}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if checked("describe", "I work for a local authority") %}
                {{ data['la-name'] }}
              {% endif %}  
              {% if checked("describe", "I work for an academy trust") %}
                {{ data['academy-name'] }}
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
                {{ data['school-name'] }}<br />
                {{ data['school-urn'] }}
              {% endif %}  
              {% if checked("describe", "I work for a college") %}
                {{ data['college-name'] }}<br />
                {{ data['college-ukprn'] }}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if checked("describe", "I work for a local authority") %}
              <a class="govuk-link" href="/describe/local-authority">
                Change<span class="govuk-visually-hidden"> local authority details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for an academy trust") %}
              <a class="govuk-link" href="/describe/academy-trust">
                Change<span class="govuk-visually-hidden"> academy trust details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for a school") %}
              <a class="govuk-link" href="/describe/school">
                Change<span class="govuk-visually-hidden"> school details"</span>
              </a>
              {% endif %}  
              {% if checked("describe", "I work for a college") %}
              <a class="govuk-link" href="/describe/college">
                Change<span class="govuk-visually-hidden"> college details</span>
              </a>
              {% endif %}
            </dd>
          </div>
          {% endif %}
        </dl>

        <!-- Contact details -->
        <h2 class="govuk-heading-m">Contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['full-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/contact">
                Change<span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>  

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data['email'] }}</p>
              <p class="govuk-body">{{ data['telephone-number'] }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/contact">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
        
        <!-- What do you want support with? -->
        <h2 class="govuk-heading-m">What do you want support with?</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if checked("support", "Laptops and tablets") %}
              <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Latops and tablets</p>
              {% endif %}

              {% if checked("support", "4G wireless routers and internet access") %}
              <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">4G wireless routers and internet access</p>
              {% endif %}

              {% if checked("support", "Digital education platforms") %}
              <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Digital education platforms</p>
              {% endif %}

              {% if checked("support", "Technology training and support") %}
              <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">Technology training and support</p>
              {% endif %} 
              
              {% if checked("support", "Something else") %}
              <p class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">{{ data['support-custom'] }}</p>
              {% endif %}  
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {{ data['support-user-entry'] }}
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/support-details">
               Change<span class="govuk-visually-hidden"> Support query details</span>
              </a>
            </dd>
          </div>

        </dl>

        <!-- OK to send -->
        <form action="/submitted" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </form>

        <a class="govuk-back-link" href="/support-details">Back</a>

      </div>
    </div>
  {% endblock %}

