{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/contact" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                {% if checked("describe", "I work for a local authority") %}
                Which local authority do you work for?
                {% endif %}
                {% if checked("describe", "I work for an academy trust") %}
                Which academy trust do you work for?
                {% endif %}
                {% if checked("describe", "I work for a school") %}
                Which school do you work for?
                {% endif %}
                {% if checked("describe", "I work for a college") %}
                Which college do you work for?
                {% endif %}
              </h1>
            </legend>

            <div
              id="hint-e496a843"
              class="govuk-hint govuk-!-margin-bottom-3"
            ></div>
            
            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                {% if checked("describe", "I work for a local authority") %}
                Local authority name
                {% endif %}
                {% if checked("describe", "I work for an academy trust") %}
                Academy trust name
                {% endif %}
                {% if checked("describe", "I work for a school") %}
                School name
                {% endif %}
                {% if checked("describe", "I work for a college") %}
                College name
                {% endif %}
              </label>
              <!-- <span id="full-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your full name
              </span> -->
              <input class="govuk-input govuk-!-width-three-quarters" id="school-name" name="school-name" type="text" spellcheck="false" autocomplete="false" {{ data['school-name'] }}>
              <!-- <input class="govuk-input govuk-input--error" id="full-name" name="full-name" type="text" spellcheck="false" aria-describedby="full-name-error" autocomplete="name"></div> -->
            </div>

            <div class="govuk-form-group">
             
                {% if checked("describe", "I work for a school") %}
                <label class="govuk-label govuk-!-font-weight-bold" for="school-urn">
                What&rsquo;s your school&rsquo;s URN?
                </label>
                {% endif %}


                {% if checked("describe", "I work for a college") %}
                <label class="govuk-label govuk-!-font-weight-bold" for="school-urn">
                  What&rsquo;s your college&rsquo;s UKPRN?
                </label>
                {% endif %}

                {% if checked("describe", "I work for a school") %}
                <div id="urn-hint" class="govuk-hint">
                This 6-digit number helps us to locate your school
                </div>
               {% endif %}

                {% if checked("describe", "I work for a college") %}
                <div id="urn-hint" class="govuk-hint">
                This number helps us to locate your college
                </div>
                {% endif %}
                
              <!-- <span id="urn-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter the correct format (URN is a number)
              </span> -->
              {% if checked("describe", "I work for a school") %}
              <input class="govuk-input govuk-input--width-10" id="school-urn" name="school-urn" type="text" spellcheck="false" aria-describedby="urn-hint" pattern="[0-9]*" inputmode="numeric" {{ data['school-urn'] }}>
              {% endif %}
              {% if checked("describe", "I work for a college") %}
              <input class="govuk-input govuk-input--width-10" id="school-urn" name="college-ukprn" type="text" spellcheck="false" aria-describedby="ukprm-hint" pattern="[0-9]*" inputmode="numeric" {{ data['college-ukprn'] }}>
              {% endif %}

            </div>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/describe">Back</a>
   
    </div>

    <div class="govuk-grid-column-one-third">
      <aside role="complementary">

        <h2 class="govuk-heading-m" id="subsection-title">
        {% if checked("describe", "I work for a school") %}
        How can I find my school&rsquo;s URN?
        {% endif %}
        {% if checked("describe", "I work for a college") %}
        How can I find my college&rsquo;s UKPRN?
        {% endif %}
      </h2>
      <p>
      {% if checked("describe", "I work for a school") %}
        Your URN is your school&rsquo;s 6-digit Unique Reference Number. You can find this by searching for your school on the <a href="https://get-information-schools.service.gov.uk/">Get information about schools</a> website.
      {% endif %}
      {% if checked("describe", "I work for a college") %}
        Your UKPRN is your college&rsquo;s 8-digit UK Provider Reference number that always starts with a 1. You can find this by searching for your college on the <a href="https://get-information-schools.service.gov.uk/">Get information about schools</a> website.
      {% endif %}
    </p>
  </aside>
    </div>

  </div>
{% endblock %}





