{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ghwt-support-start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/ghwt-support-part3-support-needs-level1" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Please provide your contact details
              </h1>
            </legend>

            <div
              id="hint-e496a843"
              class="govuk-hint govuk-!-margin-bottom-3"
            ></div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Your full name
              </label>
              <!-- <span id="full-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your full name
              </span> -->
              <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name" {{ data['full-name'] }}>
              <!-- <input class="govuk-input govuk-input--error" id="full-name" name="full-name" type="text" spellcheck="false" aria-describedby="full-name-error" autocomplete="name"></div> -->
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="work-email">
                Your email address
              </label>
              <div id="email-hint" class="govuk-hint">
                We&rsquo;ll use this to reply to your query. Please use the email address linked to your school, college, trust, local authority or organisation.
              </div>
              <!-- <span id="email-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
              </span> -->
              <input class="govuk-input" id="work-email" name="work-email" type="email" spellcheck="false" aria-required="true" aria-describedby="email-hint email-error" autocomplete="email" {{ data['work-email'] }}>
            </div>


            <div class="govuk-form-group">
              <label class="govuk-label" for="work-telephone-number">
                Your phone number
              </label>
              <div id="phone-hint" class="govuk-hint">
                Our support team may call you if needed.
              </div>
              <!-- <span id="phone-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
              </span> -->
              <input class="govuk-input govuk-input--width-20" id="work-telephone-number" name="work-telephone-number" aria-required="true" aria-describedby="phone-hint phone-error" type="tel" autocomplete="tel" {{ data['work-telephone-number'] }}>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/ghwt-support-part1-describe-additional">Back</a>
    </div>
  </div>
{% endblock %}
