{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ghwt-support-start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/ghwt-support-part3-support-needs-level2" method="post">
      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-support">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                What do you want to know or get support with?
              </h1>
            </legend>

            <div
              id="hint-support"
              class="govuk-hint govuk-!-margin-bottom-3"
            >Please select the most relevant to your query</div>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  type="checkbox"
                  name="support"
                  id="support-0"
                  value="Laptops and tablets"
                  class="govuk-checkboxes__input"
                  {{ checked("support", "Laptops and tablets") }}
                />

                <label
                  for="support-0"
                  class="govuk-label govuk-checkboxes__label"
                  >Laptops and tablets</label
                >
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  type="checkbox"
                  name="support"
                  id="support-1"
                  value="4G wireless routers and internet access"
                  class="govuk-checkboxes__input"
                  {{ checked("support", "4G wireless routers and internet access") }}
                />

                <label
                  for="support-1"
                  class="govuk-label govuk-checkboxes__label"
                  >4G wireless routers and internet access</label
                >
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  type="checkbox"
                  name="support"
                  id="support-2"
                  value="Digital education platforms"
                  class="govuk-checkboxes__input"
                  {{ checked("support", "Digital education platforms") }}
                />

                <label
                  for="support-2"
                  class="govuk-label govuk-checkboxes__label"
                  >Digital education platforms</label
                >
              </div>

              <div class="govuk-checkboxes__item">
                <input
                  type="checkbox"
                  name="support"
                  id="support-3"
                  value="Technology training and support"
                  class="govuk-checkboxes__input"
                  {{ checked("support", "Technology training and support") }}
                />

                <label
                  for="support-3"
                  class="govuk-label govuk-checkboxes__label"
                  >Technology training and support</label
                >
              </div>

            </div>
          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"

        >
          Next
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/ghwt-support-part2-contact">Back</a>

  </div>
  
</div>
{% endblock %}
