{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ghwt-support-start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/ghwt-support-confirm" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Can you provide more detail about the support you need?
              </h1>
            </legend>
            
            


            <div
              id="hint-e496a843"
              class="govuk-hint govuk-!-margin-bottom-3"
            ></div>

            <!-- IF CHECKBOX <div class="govuk-checkboxes__item"> // type="checkbix" // class="govuk-checkboxes__input" // class="govuk-label govuk-checkboxes__label"  -->

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="support-user-entry">
                  Label to help with describing 
                </label>
              <textarea class="govuk-textarea" id="support-user-entry" name="support-user-entry" rows="5" {{ data['support-user-entry'] }}></textarea>
            </div>


          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"

        >
          Next step
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/ghwt-support-part3-support-needs-level1">Back</a>

  </div>

  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Support topics</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% if checked("support", "Laptops and tablets") %}
      <li>Laptops and tablets</li>
      {% endif %}

      {% if checked("support", "4G wireless routers and internet access") %}
      <li>4G wireless routers and internet access</li>
      {% endif %}

      {% if checked("support", "Digital education platforms") %}
      <li> Digital education platforms</li>
      {% endif %}

      {% if checked("support", "Technology training and support") %}
      <li>Technology training and support</li>
      {% endif %}  
    </ul>
  </div>
</div>
{% endblock %}
