{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/ghwt-support-start"
        >Get support</a
      >
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<!--https://design-system.service.gov.uk/patterns/check-answers/-->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form class="form" action="/ghwt-support-part2-contact" method="post">

          <div
            class="govuk-!-margin-bottom-6"
            id="current-question"
          >
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
                <legend
                  class="govuk-fieldset__legend govuk-fieldset__legend--l"
                >
                  <span class="govuk-caption-l"
                    >Get support</span
                  >
                  <h1 class="govuk-fieldset__heading">
                    Which of these best describes you?
                  </h1>
                </legend>

                <div
                  id="hint-e496a843"
                  class="govuk-hint govuk-!-margin-bottom-3"
                ></div>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-0"
                      value="I work for a local authority~/ghwt-support-part1-describe-additional.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a local authority") }}
                    />

                    <label
                      for="describe-0"
                      class="govuk-label govuk-radios__label"
                      >I work for a local authority</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-1"
                      value="I work for an academy trust~/ghwt-support-part1-describe-additional.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for an academy trust") }}
                    />

                    <label
                      for="describe-1"
                      class="govuk-label govuk-radios__label"
                      >I work for an academy trust</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-2"
                      value="I work for a school~/ghwt-support-part1-describe-additional.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a school") }}
                    />

                    <label
                      for="describe-2"
                      class="govuk-label govuk-radios__label"
                      >I work for a school or single-academy trust</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-3"
                      value="I work for a college~/ghwt-support-part1-describe-additional.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I work for a college") }}
                    />

                    <label
                      for="describe-3"
                      class="govuk-label govuk-radios__label"
                      >I work for a college</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-4"
                      value="I'm a parent, guardian, pupil or care leaver~/ghwt-support-parent-guardian-pupil-care-leaver.html"
                      class="govuk-radios__input"
                      {{ checked("describe", "I'm a parent, guardian, pupil or care leaver") }}
                    />

                    <label
                      for="describe-4"
                      class="govuk-label govuk-radios__label"
                      >I&rsquo;m a parent, guardian, pupil or care leaver</label
                    >
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      type="radio"
                      name="describe"
                      id="describe-5"
                      value="I'm none of the above"
                      class="govuk-radios__input"
                      data-aria-controls="conditional-describe-5"
                      {{ checked("describe", "I'm none of the above") }}
                    />

                    <label
                      for="describe-5"
                      class="govuk-label govuk-radios__label"
                      >I&rsquo;m none of the above</label
                    >
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-describe-5">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="describe-custom">
                        Please provide details
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="describe-custom" name="describe-custom" type="text">
                    </div>
                  </div>
                  
                </div><!--radio-group-->
              </fieldset>
            </div><!--govuk-form-group-->
           
            <button
              data-module="govuk-button"
              class="govuk-button"
            >
              Next
            </button>
          </div>
        </form>

        <a class="govuk-back-link" href="/ghwt-support-start">Back</a>

        <!-- PROTOTYPE CODE <form action="/docs/examples/pass-data/vehicle-check-answers" method="post" class="form"> -->
        <!-- <form
          novalidate
          action="/hc/en-us/requests"
          method="post"
          id="new_request"
          class="form"
          data-form=""
          data-form-type="request"
          accept-charset="UTF-8"
        >
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="" />

          <fieldset class="govuk-fieldset" aria-describedby="form-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">Submit a request</h1>
            </legend>
            <span id="form-hint" class="govuk-hint">
              A member of our support staff will respond as soon as possible.
            </span>
          </fieldset>

          <button
            data-prevent-double-click="true"
            class="govuk-button"
            data-module="govuk-button"
          >
            Confirm and send
          </button>
          <input type="submit" name="commit" value="Submit" />
        </form> -->

      </div>
    </div>
  {% endblock %}

