{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ghwt-support-start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/ghwt-support-part2-contact" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="hint-e496a843">
            <legend
              class="govuk-fieldset__legend govuk-fieldset__legend--l"
            >
              <span class="govuk-caption-l"
                >Get support</span
              >
              <h1 class="govuk-fieldset__heading">
                Responsibility for orders
              </h1>
            </legend>

            <div
              id="hint-e496a843"
              class="govuk-hint govuk-!-margin-bottom-3"
            ></div>



            
            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                {% if checked("describe", "I work for a school") %}
                School name
                {% endif %}
                {% if checked("describe", "I work for a college") %}
                College name
                {% endif %}
                {% if checked("describe", "I work for a local authority") %}
                Local Authority name
                {% endif %}
                {% if checked("describe", "I work for an academy trust") %}
                Academy name
                {% endif %}
              </label>
              <!-- <span id="full-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter your full name
              </span> -->
              <input class="govuk-input govuk-!-width-three-quarters" id="school-name" name="school-name" type="text" spellcheck="false" autocomplete="false" {{ data['school-name'] }}>
              <!-- <input class="govuk-input govuk-input--error" id="full-name" name="full-name" type="text" spellcheck="false" aria-describedby="full-name-error" autocomplete="name"></div> -->
            </div>

            <div class="govuk-form-group">
             
                {% if checked("describe", "I work for a school") %}
                <label class="govuk-label" for="school-urn">
                Please provide the URN
                </label>
                {% endif %}

                {% if checked("describe", "I work for a college") %}
                <label class="govuk-label" for="school-urn">
                Please provide the UKPRN
                </label>
                {% endif %}

                {% if checked("describe", "I work for a school") %}
                <div id="urn-hint" class="govuk-hint">
                This 6-digit number helps us to locate your school
                </div>
               {% endif %}

                {% if checked("describe", "I work for a college") %}
                <div id="urn-hint" class="govuk-hint">
                This number helps us to locate your college
                </div>
                {% endif %}
                
              <!-- <span id="urn-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter the correct format (URN is a number)
              </span> -->
              {% if checked("describe", "I work for a school") %}
              <input class="govuk-input govuk-input--width-10" id="school-urn" name="school-urn" type="text" spellcheck="false" aria-describedby="urn-hint" pattern="[0-9]*" inputmode="numeric" {{ data['school-urn'] }}>
              {% endif %}
              {% if checked("describe", "I work for a college") %}
              <input class="govuk-input govuk-input--width-10" id="school-urn" name="college-ukprn" type="text" spellcheck="false" aria-describedby="ukprm-hint" pattern="[0-9]*" inputmode="numeric" {{ data['college-ukprn'] }}>
              {% endif %}

            </div>

          </fieldset>
        </div>
       
        <button
          data-module="govuk-button"
          class="govuk-button"
        >
          Next step
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/ghwt-support-part1-describe">Back</a>
    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m govuk-!-margin-top-7">
        {% if checked("describe", "I work for a school") %}
        What is my school&rsquo;s URN and where can I find it?
        {% endif %}
        {% if checked("describe", "I work for a college") %}
        What is my college&rsquo;s UKPRN (UK Provider Reference Number)
        {% endif %}
      </h2>
      <p>
      {% if checked("describe", "I work for a school") %}
        The URN, an establishment&rsquo;s Unique Reference Number, can be found by searching the <a href="https://www.get-information-schools.service.gov.uk/" target="_blank">schools service</a> using the school postcode or name
      {% endif %}
      {% if checked("describe", "I work for a college") %}
        The URN, an establishment&rsquo;s Unique Reference Number, can be found by searching the <a href="https://www.get-information-schools.service.gov.uk/" target="_blank">schools service</a> using the college postcode or name
      {% endif %}
    </p>
    </div>

  </div>
{% endblock %}
