{% extends "layout.html" %}

{% block pageTitle %}
Get Support: Can you tell us more about your question or request?
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Get help with technology",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#1",
        text: "Guidance",
        active: true
      },
      {
        href: "#2",
        text: "Sign in"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Get support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/confirm" method="post">

      <div
        class="govuk-!-margin-bottom-6"
        id="current-question"
      >

        <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <span class="govuk-caption-l"
                >Get support</span
              >
                <label class="govuk-label govuk-label--l" for="support-user-entry">
                  Can you tell us more about your question or request?
                </label>
              </h1>
              <textarea class="govuk-textarea" id="support-user-entry" name="support-user-entry" rows="5" {{ data['support-user-entry'] }}></textarea>
            </div>
            
       
        <button
          data-module="govuk-button"
          class="govuk-button"

        >
          Next
        </button>
      </div>
    </form>

    <a class="govuk-back-link" href="/support-needs">Back</a>

  </div>

  <div class="govuk-grid-column-one-third">
    <aside  role="complementary">
        <section class="govuk-section">
          <nav role="navigation" aria-labelledby="support-topics">
            {% if checked("support", "Laptops and tablets") %}
            <h2 class="govuk-heading-m" id="support-topics">For laptops and tablets</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                      How and when to order laptops and tablets 
                    </a>
                  </li>
                  <li>
                    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                      About device allocations
                    </a>
                  </li>
                  <li>
                    <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                      Device options and specifications
                    </a>
                  </li>
                </ul>
            {% endif %}

            {% if checked("support", "4G wireless routers and internet access") %}
            <h2 class="govuk-heading-m" id="support-topics">4G wireless routers and internet access</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Get internet access
                  </a>
                </li>
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    About 4G wireless routers
                  </a>
                </li>
              </ul>
            {% endif %}
      
            {% if checked("support", "Digital education platforms") %}
            <h2 class="govuk-heading-m" id="support-topics">Digital education platforms</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Get funding and support to set up a digital education platform
                  </a>
                </li>
              </ul>
            {% endif %}
      
            {% if checked("support", "Technology training and support") %}
            <h2 class="govuk-heading-m" id="support-topics">Technology training and support</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Get free training and support to set up and use technology effectively
                  </a>
                </li>
              </ul>
            {% endif %} 
            
            {% if checked("support", "Something else") %}
            <h2 class="govuk-heading-m" id="support-topics">Something else</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">
                    Find out more about the Get help with technology programme on GOV.UK
                  </a>
                </li>
              </ul>
            {% endif %} 
          </nav>
      </section>
    </aside>
  </div>
</div>
{% endblock %}
